@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine;

<h4>Add a new Cuisine</h4>
<div class="col-md-8 offset-md-2">
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class="form-control"})
  </div>
    <input type="submit" value="Add" class="btn btn-success">
}
 @Html.ActionLink("Show All", "Index", null, htmlAttributes: new {@class="btn btn-primary btn-lg"})
</div>


